-i https://pypi.org/simple/
argcomplete==1.12.2
attrs==20.3.0
beancount==2.2.3
beautifulsoup4==4.9.3
bottle==0.12.19
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
future==0.18.2
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth-httplib2==0.0.4
google-auth==1.24.0
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
iniconfig==1.1.1
lxml==4.6.2
packaging==20.8
pluggy==1.0.0.dev0
ply==3.11
protobuf==4.0.0rc2
py==1.10.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pyparsing==3.0.0b2
pytest==6.2.1
python-dateutil==2.8.1
python-magic==0.4.18
python-telegram-bot==12.2.0
pytz==2020.5
requests==2.25.1
rsa==4.6 ; python_version >= '3.6'
six==1.15.0
soupsieve==2.1 ; python_version >= '3.0'
toml==0.10.2
tornado==6.1
uritemplate==3.0.1
urllib3==1.26.2
webdavclient3==0.14
