-i https://pypi.org/simple/
argcomplete==1.12.3
attrs==21.2.0
beancount==2.2.3
beautifulsoup4==4.9.3
bottle==0.12.19
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
future==0.18.2
google-api-core==1.28.0
google-api-python-client==2.7.0
google-auth-httplib2==0.1.0
google-auth==1.30.1
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==2.10
iniconfig==1.1.1
lxml==4.6.3
packaging==20.9
pluggy==1.0.0.dev0
ply==3.11
protobuf==4.0.0rc2
py==1.10.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
python-magic==0.4.23
python-telegram-bot==12.2.0
pytz==2021.1
requests==2.25.1
rsa==4.7.2 ; python_version >= '3.6'
six==1.16.0
soupsieve==2.2.1 ; python_version >= '3.0'
toml==0.10.2
tornado==6.1
uritemplate==3.0.1
urllib3==1.26.5
webdavclient3==0.14
